<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Datos de Asignaturas Agrupadas</title>
</head>
<body>
    <h1>Visualización de Datos de Asignaturas Agrupadas</h1>
    <form action="/grouped" method="get">
        <label for="subject">Seleccionar Asignaturas:</label><br>
        <select name="subject" multiple>
            {% for subject_code, _ in grouped_data.items() %}
                <option value="{{ subject_code }}">{{ subject_code }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Visualizar">
    </form>
    {% for subject_code, data in grouped_data.items() %}
        <h2>Asignatura: {{ subject_code }}</h2>
        <table border="1">
            <tr>
                <th>Año</th>
                <th>Período</th>
                <th>Rendimiento Promedio</th>
                <th>Éxito Promedio</th>
                <th>Abandono Promedio</th>
            </tr>
            {% for index, row in data.iterrows() %}
            <tr>
                <td>{{ row['year'] }}</td>
                <td>{{ row['term'] }}</td>
                <td>{{ row['ratings_data']['performance']['rate'] }}</td>
                <td>{{ row['ratings_data']['success']['rate'] }}</td>
                <td>{{ row['ratings_data']['abandonment']['rate'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body>
</html>
