<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Múltiples Asignaturas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Seleccionar Múltiples Asignaturas</h1>

        <!-- Formulario para seleccionar múltiples asignaturas -->
        <form action="/{{ year }}/{{ degree }}/visualize_multiple_subjects" method="get">
            <label for="asignaturas">Selecciona las asignaturas:</label>
            <select name="asignaturas" id="asignaturas" multiple>
                {% for subject in subjects %}
                <option value="{{ subject.subject_code }}">{{ subject.subject_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Visualizar">
        </form>
    </div>
</body>
</html>
