<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Datos de Asignatura</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{ subject_data.subject_name }} - {{ subject_data.subject_code }}</h1>
    <h2>Datos de matriculación</h2>
    <table border="1">
        <tr>
            <th>Número de veces matriculado</th>
            <th>Número de alumnos</th>
        </tr>
        <tr>
            <td>Una vez</td>
            <td>{{ subject_data.reports_info[0].enrollment_data.one_time }}</td>
        </tr>
        <tr>
            <td>Dos veces</td>
            <td>{{ subject_data.reports_info[0].enrollment_data.two_times }}</td>
        </tr>
        <tr>
            <td>Tres veces o más</td>
            <td>{{ subject_data.reports_info[0].enrollment_data.three_times }}</td>
        </tr>
        <tr>
            <td>Total </td>
            <td>{{ subject_data.reports_info[0].enrollment_data.total }}</td>
        </tr>
    </table>
    <h2>Tasas</h2>
    <div id="pie-charts">
        <div class="pie-chart-container">
            <h3>Rendimiento</h3>
            {{ pie_charts['performance']|safe }}
        </div>
        <div class="pie-chart-container">
            <h3>Éxito</h3>
            {{ pie_charts['success']|safe }}
        </div>
        <div class="pie-chart-container">
            <h3>Abandono</h3>
            {{ pie_charts['abandonment']|safe }}
        </div>
    </div>
</body>
</html>
